ipykernel
numpy
pandas
matplotlib
seaborn
flask
memory_profiler
streamlit
scikit-learn
python-dotenv
azure-ai-textanalytics==5.3.0
azure-cognitiveservices-speech==1.42.0
azure-identity
azure-ai-projects
openai
azure-ai-vision-imageanalysis==1.0.0
azure-ai-vision-face==1.0.0b2
pillow
azure-cognitiveservices-vision-customvision
torch
tabulate
nbformat
scipy
